[submodule "monty"]
	path = monty
	url = git@github.com:amacharla/monty.git
[submodule "0x18-stacks_queues_lifo_fifo/monty"]
	path = 0x18-stacks_queues_lifo_fifo/monty
	url = git@github.com:amacharla/monty.git
